@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color:#F5F5F5;
    color: #000000;
}
.container{
    max-width: 1340px;
    width: 90%;
    margin: 0 auto;
}
.pages-container{
    max-width: 1223px;
    width: 90%;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header */

body header .container .inner-header .logo a {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}
body header .container .inner-header .logo a span{
    color: #3F69FF;
    cursor: pointer;
}
body header .container .inner-header nav li:not(:last-child){
    margin-right:50px;
}

body header .container .inner-header nav li a{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #3D3D3D;
}
body header .container .inner-header nav li a:hover{
    color: #0052CC;
    text-decoration-line: underline;
}
body header .container .inner-header .user-icon li{
    padding-left:31px;
}
body header .container .inner-header{
    padding: 21px 0 50px 0;
}
body header .search-categories{
    background-color: #0052CC;
    height: 60px;
    display: flex;
    align-items: center;
}
body header .search-categories .burger-menu {
    display: flex;
}
body header .search-categories .burger-menu .categories-button {
    margin-right: 14px;
}
body header .search-categories .burger-menu h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize; 
    color: #FFFFFF;
}
body header .search-categories .burger-menu .input-place{
    margin-left: 360px;
}
body header .search-categories .burger-menu .input-place input[type=text] {
    width: 390px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    background-image: url('../assets/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 0 12px 50px;
    outline: none;
}
/* main section */

body main h2{
    text-align: center;
    margin: 85px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #000000;
}
body main .phone-box .boxes{
    width: 260px;
    height: 340px;
}
body main .phone-box .phone-one{
    background: url(../assets/url/one.png);
}
body main .phone-box .phone-one:hover{
    background: url(../assets/url/CARD\ 1.png);
}
body main .phone-box .phone-two{
    background: url(../assets/url/two\ .png);
}
body main .phone-box .phone-two:hover{
    background: url(../assets/url/CARD\ 2\ \(2\).png);
}
body main .phone-box .phone-three{
    background: url(../assets/url/three.png);
}
body main .phone-box .phone-three:hover{
    background: url(../assets/url/CARD\ 3\ \(1\).png);
}
body main .phone-box .phone-four{
    background: url(../assets/url/four.png);
}
body main .phone-box .phone-four:hover{
    background: url(../assets/url/CARD\ 4\ \(1\).png);
}
body main .phone-box .boxes .info{
    margin-top: 362px;
}
body main .phone-box .boxes .info .model-price h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-transform: capitalize;
color: #000000;
}
body main .phone-box .boxes .info .model-price p{
    font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-transform: capitalize;
color: #373737;
}
body main .phone-box .boxes .info .model-price .price{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: capitalize;
    color: #BD6161;
    margin-left: 60px;
}
body main .phone-box .boxes .info .under-info p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #6A6A6A;
}
body main .phone-box .boxes .info .under-info a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #000000;
}

/* footer */

body footer{
    margin-top: 320px;
    background-color: #0052CC;
}
body footer .footer-box .logo-socials{
    margin-top: 40px;
}
body footer .footer-box .logo-socials .socials{
    margin-top: 100px;
    padding-bottom: 30px;
    justify-content: stretch;
    gap: 15px;
}
body footer .footer-box .footer-li ul{
    display: flex; 
    flex-wrap: wrap;  
    width: 500px;
}
body footer .footer-box .footer-li li{
    flex: 30%;
    margin-bottom: 10px
}
body footer .footer-box .footer-li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    
}
body footer .footer-box .location input[type=text] {
    width: 254px;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.5);
    background-image: url('../assets/Vector\ \(2\).png');
    background-repeat: no-repeat;
    background-position: 90%;
    padding: 12px 0 10px 18px;
}
body footer .footer-box .location input:active{
    cursor: pointer;
}
body footer .footer-box .location p{
    width: 235px;
    margin-top: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #FFFFFF;    
}

/* about us page */

body main .pages-container{
    max-width: 1223px;
    width: 90%;
    margin: 0 auto;
}
body main .pages-container .aboutCompany h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #3F69FF;
    text-align: center;
}
body main .pages-container .aboutCompany .more-info h2 p{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
body main .pages-container .aboutCompany .more-info span{
    font-weight: bold;
}
body main .pages-container .aboutCompany .more-info {
    display: flex;
    gap: 200px;
}
body main .pages-container .aboutCompany p{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
body main .pages-container .aboutCompany .values{
    display: flex;
    justify-content: center;
    gap: 125px;
}

/* blog page */

body main .pages-container h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #000000;
    margin: 41px 0;
}
body main .pages-container .blog-box .blog-info{
    margin-left: 65px;
}
body main .pages-container .blog-box .blog-info h3{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    margin-bottom: 20px;
}
body main .pages-container .blog-box .blog-info p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
body main .pages-container .boxes{
    margin-top: 85px;
}
body main .pages-container .boxes .mini-boxes{
    width: 272px;
}
body main .pages-container .boxes .mini-boxes h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-top: 14px;
}
body main .pages-container .boxes .mini-boxes p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #000000;
}

/* contact us page */

body main .pages-container .contact-info h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
    color: #000000;
    margin: 65px 0 10px 0;
}
body main .pages-container .contact-info h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.72);
    margin-bottom: 25px;
}
body main .pages-container .map-forms .contact-forms input[type=text]{
    width: 45%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
body main .pages-container .map-forms .contact-forms input[type=tel] {
    width: 100%;
    padding: 12px 12px 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-image: url(../assets/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}
body main .pages-container .map-forms .contact-forms input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
body main .pages-container .map-forms .contact-forms  input[type=submit] {
    width: 209px;
    height: 48px;
    margin-left: 30%;
    background: #3F69FF;
    border-radius: 6px;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}



.contact-forms{
    width: 581px;
    height: 600px;
}